.controller.ds4 {
  background-image: url(assets/base.png) !important;
}

.ds4.white .stick {
  background-image: url(assets/sticks.png) !important;
}

.ds4.white .face {
  background-image: url(assets/dpad.png) !important;
}

.ds4.white .button {
  background-image: url(assets/face.png) !important;
}

.ds4 .bumper {
    background-image: url(assets/bumper.png) !important;
}

.ds4 .trigger {
    background-image: url(assets/triggers.png) !important;
}

.ds4 .touchpad.pressed {
    background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/touchpad.svgz) !important;
}

.ds4 .back, .ds4 .start {
    background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/start.svgz) !important;
}
