/*BEGIN PS4 Controller Styling */
.controller.ds4 {
    background: url(assets/base.png) no-repeat;
}
.ds4.disconnected {
    background: None;
}

.ds4.disconnected div {
    display: none;
}

.ds4 .trigger {
    background: url(assets/triggers.png) no-repeat;
}
.ds4 .bumper {
    background: url(assets/bumper.png) no-repeat;
}
.ds4 .touchpad.pressed {
    background: url(assets/touchpad.png) no-repeat center;
}
.ds4 .meta.pressed {
    background: url(assets/meta.png) no-repeat center;
}
.ds4 .back, .ds4 .start {
    background: url(ps4-assets/start.png) no-repeat;
}
.ds4 .button {
    background: url(assets/face.png) no-repeat;
}
.ds4 .stick {
    background: url(assets/sticks.png) no-repeat;
}
.ds4 .face {
    background: url(assets/dpad.png) no-repeat;
}

/*END PS4 Controller Styling*/
